/* ------------*/
/* Section "my"*/
/* ------------*/

#my{
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(/img/my.jpg);/*Añadimos imagen fondo*/  
    text-align: center;
    color : var(--text-color-light );
    padding: 20px 10px;
    background-size:cover;/*Dimensionamos la imagen al espacio total*/
    background-position: center 50%;/*Posicionamos del fondo*/
    margin-bottom: 20px;
}

#my p:first-child {
    margin-bottom: 20px;
}


/*Media Queries*/

@media screen and (min-width: 608px) {

    #my{
        padding: 40px 10px; 
        /* background-size:contain;
        background-repeat: no-repeat; */
    }
    
}

/* --------------*/
/*Section "Skils"*/
/* --------------*/

#skill{
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px; 
}

#skill article{
    display: flex;
    flex-direction: column;  
    /* justify-content: space-between;
    align-items: center; */
    padding: 25px;  
    font-size: 1.2rem;
}


#skill h3{
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--text-color-dark );
    margin-bottom: 10px;
}

#skill  ul{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}



/*Skills background*/

/* #skill{
    border-bottom: 1px solid var(--text-color-dark );
} */

#skill  ul li{
    position: relative;
    margin: 15px;
}
#skill  ul li:before{
    /* list-style-image: url(/img/skills_logo/html.jpg); */
    content: '';
    width: 1.1em;
    height: 1.1em;
    
    background-size: cover;

    position: absolute;
    left: -30px;    
}

.html:before{
    background-image: url('/img/skills_logo/html5.png');
}

.css:before{
    background-image: url('/img/skills_logo/css.png');
}
.js:before{
    background-image: url('/img/skills_logo/js.png');
}
.react:before{
    background-image: url('/img/skills_logo/react.png');
}
.python:before{
    background-image: url('/img/skills_logo/python.png');
}
.node:before{
    background-image: url('/img/skills_logo/node.png');
}
.sql:before{
    background-image: url('/img/skills_logo/sql.png');
}
.merlin:before{
    background-image: url('/img/skills_logo/merlin.png');
}
.unity:before{
    background-image: url('/img/skills_logo/unity.png');
}


.progress-bar-space{
    height: 20px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    border: 0.5px solid black;
    overflow: hidden;

}

.progress-bar-value{
    height: 20px;  
    width: 70%; 
    border-radius: 5px;
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 70%, rgb(222, 97, 19) 100%);
    animation: progressbar 1s ease-in-out;
}
.merlin .progress-bar-value{
    width: 100%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 50%, rgb(222, 97, 19) 100%);
}

.html .progress-bar-value, .python .progress-bar-value{
    width: 70%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 90%, rgb(222, 97, 19) 100%);   
}

.css .progress-bar-value{
    width: 60%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 90%, rgb(222, 97, 19) 100%);   
}

.js .progress-bar-value, .sql .progress-bar-value {
    width: 40%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 100%);   
}

.react .progress-bar-value, .node .progress-bar-value, .unity .progress-bar-value {
    width: 20%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%,rgb(18, 121, 8) 0%);   
}

@keyframes progressbar {
    0% { width: 0%;}
}

@media screen and (min-width: 768px) {
    #skill ul{       
        flex-direction: row;         
    }   
  
  }

  #skill  ul li{
    position: relative;
     margin: 30px;
}



/* --------------*/
/*Section "Proyect"*/
/* --------------*/


#proyect{
    background-color: var(--text-color-dark );
    opacity: 0.8;
    color: var(--text-color-light );
    padding: 20px;
}

.carousel-link{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.carousel-link .carousel-dot{
    background-color: var(--text-color-light );


    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid  rgb(222, 97, 19);
    border-radius: 50%;
    margin: 0 5px;
}
.carousel-container{
    margin-top: 20px;
}

.carrosel-slides{
    height: 30vh;
    display: flex;
    flex-direction:column;/*cambio a posicion columna*/
    flex-wrap: wrap;
    overflow: hidden;/*quitar el scroll*/
    scroll-behavior: smooth; /*Scroll suavizado*/
    margin:  0 20px;
    
}

.carrosel-slides > div{
    background-color: var(--text-color-light );
    color: rgb(255,255,255);
    height: 100%;
    width: 100%; 
    padding: 10px 0 ;  
    color: var(--text-color-dark );

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 20%;
    grid-template-areas: 
      "header"
      "article"
      "footer"

    ;        
}

.header_slide{
    grid-area: header; 
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
}

.header_slide >picture{
    height: 20%;
}  


.header_slide img{
    width: 5vw;
    height: 5vw;
    margin-left: 30px;
}

.logo_slide1 img{
    width: 30vw;
    height: 7vw;
    margin-left: 30px;
}


.item_slide2, .item_slide1{
    grid-area: article;   


    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
}


.item_slide1 div{
    grid-column: 1/2;
    grid-row: 1;
}

.item_slide1 .logo  {
    height: 7vw;   
    width: 7vw;
    margin-left: 30px;

}

.item_slide1 img{
    height: 30vw;   
    width: 50vw;

    grid-column: 2/3;
    grid-row: 1;

}

.item_slide2 video{
    height: 30vw;   
    width: 50vw;

    grid-column: 2/3;
    grid-row: 1;
}

.item_slide2 img{
    height: 10vw;   
    width: 10vw;
    margin-left: 30px;

    grid-column: 1/2;
    grid-row: 1;
}



.footer_slide2, .footer_slide3, .footer_slide4 {
    grid-area: footer; 
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
    
}




.footer_slide2 img{
    width: 20vw;
    height: 10vw; 
}

.footer_slide3 img, .footer_slide4 img{
    width: 6.2vw;
    height: 7.0vw;
    padding-bottom: 5px;  
}

.description_proyect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0  10px;
}

.description_proyect a{
    font-size: 1.2vw;
}


.links{
    display: flex;
    justify-content: right;
    padding: 5px 20px;
}




.links a{
    /* width: 10vw;
    height: 10vw; */
    padding-left: 20px;   
}

.fa-github{
    width: 300px;
    height: 10vw;

}

#slide4 .item_slide picture img, #slide3 .item_slide picture img{
    height: 18vh;
}




#proyect h3{
    font-size: 2.2vw;
}

#proyect h4{
     font-size: 1.8vw; 
}




@media screen and (min-width: 480px) {
    .carrosel-slides, #slide4 .item_slide picture img, #slide3 .item_slide picture img{
        height: 50vh;
        
    }
  }

@media screen and (min-width: 768px) {
    .carrosel-slides{
        height: 100vh;
        
    }



    .header_slide div{
        width: 5vh;
        height: 5vh;
    
        background-size: cover;
        
    }


  }




