/* ------------*/
/* Section "my"*/
/* ------------*/

#my{
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(/img/my.jpg);/*Añadimos imagen fondo*/  
    text-align: center;
    color : var(--text-color-light );
    padding: 20px 10px;
    background-size:cover;/*Dimensionamos la imagen al espacio total*/
    background-position: center 50%;/*Posicionamos del fondo*/
    margin-bottom: 20px;
}

#my p:first-child {
    margin-bottom: 20px;
}


/*Media Queries*/

@media screen and (min-width: 608px) {

    #my{
        padding: 40px 10px; 
        /* background-size:contain;
        background-repeat: no-repeat; */
    }
    
}

/* --------------*/
/*main general*/
/* --------------*/

#skill, #contact{
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px; 
}

/* --------------*/
/*Section "Skils"*/
/* --------------*/



#skill article, #contact form {
    display: flex;
    flex-direction: column;  

    padding-top: 25px;  
    
}


#skill h3{
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--text-color-dark );
    margin-bottom: 10px;
}

#skill  ul{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#skill li>p{
    font-size: 0.9rem;
}

/*Skills background*/



#skill  ul li{
    position: relative;
    margin: 0 15px;
}
#skill  ul li:before{
    /* list-style-image: url(/img/skills_logo/html.jpg); */
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    
    background-size: cover;

    position: absolute;
    left: -40px;    
}

.html:before{
    background-image: url('/img/skills_logo/html5.png');
}

.css:before{
    background-image: url('/img/skills_logo/css.png');
}
.js:before{
    background-image: url('/img/skills_logo/js.png');
}
.react:before{
    background-image: url('/img/skills_logo/react.png');
}
.python:before{
    background-image: url('/img/skills_logo/python.png');
}
.node:before{
    background-image: url('/img/skills_logo/node.png');
}
.sql:before{
    background-image: url('/img/skills_logo/sql.png');
}
.merlin:before{
    background-image: url('/img/skills_logo/merlin.png');
}
.unity:before{
    background-image: url('/img/skills_logo/unity.png');
}


.progress-bar-space{
    height: 20px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    border: 0.5px solid black;
    overflow: hidden;

}

.progress-bar-value{
    height: 20px;  
    width: 70%; 
    border-radius: 5px;
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 70%, var(--color-rgb-orange ) 100%);
    animation: progressbar 1s ease-in-out;
}
.merlin .progress-bar-value{
    width: 100%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 50%, var(--color-rgb-orange ) 100%);
}

.html .progress-bar-value, .python .progress-bar-value{
    width: 70%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 90%, var(--color-rgb-orange ) 100%);   
}

.css .progress-bar-value{
    width: 60%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 90%, var(--color-rgb-orange ) 100%);   
}

.js .progress-bar-value, .sql .progress-bar-value {
    width: 40%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%, rgb(181, 157, 24) 100%);   
}

.react .progress-bar-value, .node .progress-bar-value, .unity .progress-bar-value {
    width: 20%;  
    background:linear-gradient(90deg, rgb(13, 97, 6) 0%,rgb(18, 121, 8) 0%);   
}



/*Media Queries*/

@keyframes progressbar {
    0% { width: 0%;}
}

@media screen and (min-width: 768px) {
    #skill ul{       
        flex-direction: row;         
    }   
  
  }

  #skill  ul li{
    position: relative;
     margin: 30px;
}


/* --------------*/
/*Section "Contact"*/
/* --------------*/
 
fieldset > legend{ 
    font-size: 1.2rem; 
    padding: 10px; 
  }
  

button{
    background-color:var(--text-color-dark ); 
    color:  var(--text-color-light );
    width: 20vw;  
    height: 5%; 
    font-size: 0.9rem; 
    margin-top: 10px; /*Añadimos margen superior de 10px*/
  }
  
  button:hover{  
    background-color: #aaaaaa; /*Añadimos color de fondo*/
  }
  
  input,textarea {
    
    border: 1px solid var(--text-color-light ); 
    margin-left:  25px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 1px var(--text-color-dark );

  }
  
  label{
    font-size: 0.9rem;
    display: block;
    margin-bottom: 5px;
  }


  
  textarea{
    width: 80%; /*Marcamos el ancho de 80%*/
    height: 150px; /*Marcamos el alto con 150px*/
    margin-top: 10px; /*Añadimos margen superior de 10px*/
  }
  

  
/*Media Queries*/

  @media screen and (min-width: 410px) {
    fieldset label{
        display: inline;
      }
  }
