
:root{
	--text-color-light :#e0e0e0;
	--text-color-dark :#142157 ;
}

/*body*/

body{
    background-color: var(--text-color-light );
    color: var(--text-color-dark );
    font-family: 'Times New Roman', Times, serif;
    max-width: 1140px;/*Aplicamos ancho máximo de 1140px*/
    margin:0 auto;/*Centramos contenido horizontalmente utilizando el margen*/
    display: grid;
    grid-template-columns: 1fr;/*el fr es el espacio que queda*/
    grid-template-rows: 1fr 4fr 10%;
    grid-template-areas: 
      "header"
      "main"
      "footer"
    ;       
}

header {
    grid-area: header;
  }

  main {
    grid-area: main;
    
  }
  footer {
    grid-area: footer;
  }


a{
    color:#142157 ;   
}


